<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

<%- include('partials/navigation.ejs')%>
    <h1>Holaa <%= x %>

    </h1>
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit
        Lorem, ipsum dolor.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, illum!

    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit dignissimos quos cupiditate optio vero officiis dolorum 
        corrupti, incidunt nulla, doloribus et tenetur fugit eius itaque eos omnis quo maiores cumque? Ab unde illo quidem asperiores 
        repudiandae cupiditate ullam ipsam facere mollitia quia sint necessitatibus non numquam voluptatum, commodi magnam a dicta odit obcaecati
        , sapiente temporibus assumenda fugiat hic! Distinctio doloremque dolores, facere odit adipisci sapiente iure beatae, tempore eius neque 
        pariatur commodi explicabo autem incidunt illo nostrum harum modi labore molestias deserunt rem dolorum consequatur est. Nemo cum iusto 
        quia laudantium veniam assumenda modi sint nihil atque beatae? Voluptatibus, deserunt.</p>

<%- include('partials/footer.ejs')%>

</body>
</html>