header.bg-red-600.p-4
    .container.mx-10.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Meiyo 
            span.font-normal Dojo

        nav(class="my-5  text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")     
            a(href="/auth/registro") Crear cuenta
            a(href="/auth/login") Iniciar sesion

div(class="bg-red-700 py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
        a(href="/categorias/1" class="text-sm font-bold uppercase text-white") Casas
        a(href="/categorias/2" class="text-sm font-bold uppercase text-white") Departamento
        a(href="/categorias/3" class="text-sm font-bold uppercase text-white") Bodegas
        a(href="/categorias/4" class="text-sm font-bold uppercase text-white") Terrenos
        a(href="/categorias/5" class="text-sm font-bold uppercase text-white") Cabañas 