header.bg-red-600.p-4
    .container.mx-10.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Meiyo 
            span.font-normal Dojo

        nav(class="my-5  text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")     
            a(href="") Mis Propiedades
            a(href="") Mis Perfil
            a(class="bg-red-800 py-2 px-10 rounded-lg" href="") Cerrar sesion